body {
    &.gamer {
        background-image: url("../IMAGENES/indexGamer.jpg");
        background-color: #cccccc;
    }
    &.oriental {
        background-image: url("../IMAGENES/indexOriental.jpg");
        background-color: $secundarioE2;
    }
}

main {
    &.gamer {
        background-color: $terciario;
    }
    &.oriental {
        background-color: $secundarioE2;
    }
}

nav {
    &.vertical a {
        font-size: 1.5rem;
        width: 7rem;
        display: block;
        padding: 12px;
        text-decoration: none;
        background-color: $primario;
        color: $terciario;
        border: solid $cuarto;
        &:hover {
            color: $cuartoE;
            width: 8rem;
        }
    }
    &.horizontal a {
        font-size: 1.5rem;
        display: inline;
        text-decoration: none;
        background-color: $primario;
        color: $terciario;
        border: solid $cuarto;
        &:hover {
            color: $cuartoE;
        }
    }
}

header {
    &.gamer {
        background-color: $quinto;
        padding: 3rem;
        color: $terciario;
        text-align: center;
    }
    &.oriental {
        background-color: $primario2;
        color: $titulo;
        padding: 2rem;
        text-align: center;
    }
}

footer {
    &.gamer {
        background-color:  $quinto;
        height: 5rem;
        color: $terciario;
    }
    &.oriental {
        color: $secundario2;
        background-color: $primario2;
        height: 5rem;
    }
}