/*-----------------------Imagen Responsive-------------------------------------*/

.imagenResponsive {
    height: auto;
    width: 100%;
}

.tamaño{
    height: 2rem;
    width: 2rem;  
}
/*-----------------------Imagen Articulos-------------------------------------*/

article {
    img {
        .reportaje {
            float: left;
        }
    }
}