/*-----------------------Imagen Responsive-------------------------------------*/

.imagenResponsive {
    height: auto;
    width: 100%;
}


/*-----------------------Imagen Articulos-------------------------------------*/

article {
    img {
        .reportaje {
            float: left;
        }
    }
}