@charset "UTF-8";
/*------------------------------------IMPORTS---------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-----------------------PALETA DE COLORES 1-------------------------------------*/
/*-----------------------Colores Principales Normales-------------------------------------*/
/*-----------------------Colores Principales Encendidos-------------------------------------*/
/*-----------------------PALETA DE COLORES 2-------------------------------------*/
/*-----------------------Colores Principales Normales-------------------------------------*/
/*-----------------------Colores Principales Encendidos-------------------------------------*/
/*-----------------------Colores Principales Encendidos-------------------------------------*/
/*-----------------------Rejillas Mixin-------------------------------------*/
.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

.margen-0 {
  margin-left: 0%;
}

.margen-1 {
  margin-left: 8.3333333333%;
}

.margen-2 {
  margin-left: 16.6666666667%;
}

.margen-3 {
  margin-left: 25%;
}

.margen-4 {
  margin-left: 33.3333333333%;
}

.margen-5 {
  margin-left: 41.6666666667%;
}

.margen-6 {
  margin-left: 50%;
}

.margen-7 {
  margin-left: 58.3333333333%;
}

.margen-8 {
  margin-left: 66.6666666667%;
}

.margen-9 {
  margin-left: 75%;
}

.margen-10 {
  margin-left: 83.3333333333%;
}

.margen-11 {
  margin-left: 91.6666666667%;
}

.margen-12 {
  margin-left: 100%;
}

@media only screen and (max-width: 2000px) {
  .xl-col-1 {
    width: 8.3333333333%;
  }

  .xl-col-2 {
    width: 16.6666666667%;
  }

  .xl-col-3 {
    width: 25%;
  }

  .xl-col-4 {
    width: 33.3333333333%;
  }

  .xl-col-5 {
    width: 41.6666666667%;
  }

  .xl-col-6 {
    width: 50%;
  }

  .xl-col-7 {
    width: 58.3333333333%;
  }

  .xl-col-8 {
    width: 66.6666666667%;
  }

  .xl-col-9 {
    width: 75%;
  }

  .xl-col-10 {
    width: 83.3333333333%;
  }

  .xl-col-11 {
    width: 91.6666666667%;
  }

  .xl-col-12 {
    width: 100%;
  }

  .xl-margen-0 {
    margin-left: 0%;
  }

  .xl-margen-1 {
    margin-left: 8.3333333333%;
  }

  .xl-margen-2 {
    margin-left: 16.6666666667%;
  }

  .xl-margen-3 {
    margin-left: 25%;
  }

  .xl-margen-4 {
    margin-left: 33.3333333333%;
  }

  .xl-margen-5 {
    margin-left: 41.6666666667%;
  }

  .xl-margen-6 {
    margin-left: 50%;
  }

  .xl-margen-7 {
    margin-left: 58.3333333333%;
  }

  .xl-margen-8 {
    margin-left: 66.6666666667%;
  }

  .xl-margen-9 {
    margin-left: 75%;
  }

  .xl-margen-10 {
    margin-left: 83.3333333333%;
  }

  .xl-margen-11 {
    margin-left: 91.6666666667%;
  }

  .xl-margen-12 {
    margin-left: 100%;
  }
}
@media only screen and (max-width: 1280px) {
  .l-col-1 {
    width: 8.3333333333%;
  }

  .l-col-2 {
    width: 16.6666666667%;
  }

  .l-col-3 {
    width: 25%;
  }

  .l-col-4 {
    width: 33.3333333333%;
  }

  .l-col-5 {
    width: 41.6666666667%;
  }

  .l-col-6 {
    width: 50%;
  }

  .l-col-7 {
    width: 58.3333333333%;
  }

  .l-col-8 {
    width: 66.6666666667%;
  }

  .l-col-9 {
    width: 75%;
  }

  .l-col-10 {
    width: 83.3333333333%;
  }

  .l-col-11 {
    width: 91.6666666667%;
  }

  .l-col-12 {
    width: 100%;
  }

  .l-margen-0 {
    margin-left: 0%;
  }

  .l-margen-1 {
    margin-left: 8.3333333333%;
  }

  .l-margen-2 {
    margin-left: 16.6666666667%;
  }

  .l-margen-3 {
    margin-left: 25%;
  }

  .l-margen-4 {
    margin-left: 33.3333333333%;
  }

  .l-margen-5 {
    margin-left: 41.6666666667%;
  }

  .l-margen-6 {
    margin-left: 50%;
  }

  .l-margen-7 {
    margin-left: 58.3333333333%;
  }

  .l-margen-8 {
    margin-left: 66.6666666667%;
  }

  .l-margen-9 {
    margin-left: 75%;
  }

  .l-margen-10 {
    margin-left: 83.3333333333%;
  }

  .l-margen-11 {
    margin-left: 91.6666666667%;
  }

  .l-margen-12 {
    margin-left: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .m-col-1 {
    width: 8.3333333333%;
  }

  .m-col-2 {
    width: 16.6666666667%;
  }

  .m-col-3 {
    width: 25%;
  }

  .m-col-4 {
    width: 33.3333333333%;
  }

  .m-col-5 {
    width: 41.6666666667%;
  }

  .m-col-6 {
    width: 50%;
  }

  .m-col-7 {
    width: 58.3333333333%;
  }

  .m-col-8 {
    width: 66.6666666667%;
  }

  .m-col-9 {
    width: 75%;
  }

  .m-col-10 {
    width: 83.3333333333%;
  }

  .m-col-11 {
    width: 91.6666666667%;
  }

  .m-col-12 {
    width: 100%;
  }

  .m-margen-0 {
    margin-left: 0%;
  }

  .m-margen-1 {
    margin-left: 8.3333333333%;
  }

  .m-margen-2 {
    margin-left: 16.6666666667%;
  }

  .m-margen-3 {
    margin-left: 25%;
  }

  .m-margen-4 {
    margin-left: 33.3333333333%;
  }

  .m-margen-5 {
    margin-left: 41.6666666667%;
  }

  .m-margen-6 {
    margin-left: 50%;
  }

  .m-margen-7 {
    margin-left: 58.3333333333%;
  }

  .m-margen-8 {
    margin-left: 66.6666666667%;
  }

  .m-margen-9 {
    margin-left: 75%;
  }

  .m-margen-10 {
    margin-left: 83.3333333333%;
  }

  .m-margen-11 {
    margin-left: 91.6666666667%;
  }

  .m-margen-12 {
    margin-left: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .s-col-1 {
    width: 8.3333333333%;
  }

  .s-col-2 {
    width: 16.6666666667%;
  }

  .s-col-3 {
    width: 25%;
  }

  .s-col-4 {
    width: 33.3333333333%;
  }

  .s-col-5 {
    width: 41.6666666667%;
  }

  .s-col-6 {
    width: 50%;
  }

  .s-col-7 {
    width: 58.3333333333%;
  }

  .s-col-8 {
    width: 66.6666666667%;
  }

  .s-col-9 {
    width: 75%;
  }

  .s-col-10 {
    width: 83.3333333333%;
  }

  .s-col-11 {
    width: 91.6666666667%;
  }

  .s-col-12 {
    width: 100%;
  }

  .s-margen-0 {
    margin-left: 0%;
  }

  .s-margen-1 {
    margin-left: 8.3333333333%;
  }

  .s-margen-2 {
    margin-left: 16.6666666667%;
  }

  .s-margen-3 {
    margin-left: 25%;
  }

  .s-margen-4 {
    margin-left: 33.3333333333%;
  }

  .s-margen-5 {
    margin-left: 41.6666666667%;
  }

  .s-margen-6 {
    margin-left: 50%;
  }

  .s-margen-7 {
    margin-left: 58.3333333333%;
  }

  .s-margen-8 {
    margin-left: 66.6666666667%;
  }

  .s-margen-9 {
    margin-left: 75%;
  }

  .s-margen-10 {
    margin-left: 83.3333333333%;
  }

  .s-margen-11 {
    margin-left: 91.6666666667%;
  }

  .s-margen-12 {
    margin-left: 100%;
  }
}
[class*=col-] {
  float: left;
  box-sizing: border-box;
  padding: 1em;
}

.p-1 {
  padding: 1em;
}

.p-d-1 {
  padding-right: 1em;
}

.p-i-1 {
  padding-left: 1em;
}

.p-a-1 {
  padding-top: 1em;
}

.p-d-1 {
  padding-bottom: 1em;
}

.p-2 {
  padding: 2em;
}

.p-d-2 {
  padding-right: 2em;
}

.p-i-2 {
  padding-left: 2em;
}

.p-a-2 {
  padding-top: 2em;
}

.p-d-2 {
  padding-bottom: 2em;
}

.p-3 {
  padding: 3em;
}

.p-d-3 {
  padding-right: 3em;
}

.p-i-3 {
  padding-left: 3em;
}

.p-a-3 {
  padding-top: 3em;
}

.p-d-3 {
  padding-bottom: 3em;
}

.p-4 {
  padding: 4em;
}

.p-d-4 {
  padding-right: 4em;
}

.p-i-4 {
  padding-left: 4em;
}

.p-a-4 {
  padding-top: 4em;
}

.p-d-4 {
  padding-bottom: 4em;
}

.p-5 {
  padding: 5em;
}

.p-d-5 {
  padding-right: 5em;
}

.p-i-5 {
  padding-left: 5em;
}

.p-a-5 {
  padding-top: 5em;
}

.p-d-5 {
  padding-bottom: 5em;
}

/*-----------------------Tipos de letras-------------------------------------*/
/*----------------------------H Y P -----------------------------------------*/
h1 {
  font-size: 3rem;
  font-family: "Garamond";
  text-align: center;
}

h2 {
  font-size: 2.4rem;
  font-family: "Garamond";
  text-align: center;
}

h3 {
  font-size: 1.8rem;
  font-family: "Garamond";
  text-align: center;
}

h4 {
  font-size: 1.2rem;
  font-family: "Garamond";
  text-align: center;
}

h5 {
  font-size: 0.6rem;
  font-family: "Garamond";
  text-align: center;
}

h6 {
  font-size: 0rem;
  font-family: "Garamond";
  text-align: center;
}

p {
  font-family: "Consolas";
  font-size: 1rem;
}

/*-----------------------Enlaces-------------------------------------*/
a.gamer {
  color: #8016be8a;
  font-family: monospace;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 1em 1em 1em 1em;
  padding: 12px;
}
a.gamer:hover {
  color: aqua;
}
a.gamer:visited {
  color: #1417dc;
}
a.oriental {
  color: #940505;
  font-family: monospace;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 1em 1em 1em 1em;
  padding: 12px;
}
a.oriental:hover {
  color: #e96375;
}
a.oriental:visited {
  color: rgba(0, 0, 0, 0.144);
}

.alignDerecha {
  text-align: right;
}

.linea {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
  -webkit-text-decoration-color: #555454;
          text-decoration-color: #555454;
}

body.gamer {
  background-image: url("../IMAGENES/indexGamer.jpg");
  background-color: #cccccc;
}
body.oriental {
  background-image: url("../IMAGENES/indexOriental.jpg");
  background-color: #fff;
}

main.gamer {
  background-color: #fff;
}
main.oriental {
  background-color: #fff;
}

nav.vertical a {
  font-size: 1.5rem;
  width: 7rem;
  display: block;
  padding: 12px;
  text-decoration: none;
  background-color: #000000;
  color: #fff;
  border: solid #8016be8a;
}
nav.vertical a:hover {
  color: rgba(77, 80, 90, 0.719);
  width: 8rem;
}
nav.horizontal a {
  font-size: 1.5rem;
  display: inline;
  text-decoration: none;
  background-color: #000000;
  color: #fff;
  border: solid #8016be8a;
}
nav.horizontal a:hover {
  color: rgba(77, 80, 90, 0.719);
}

header.gamer {
  background-color: #3b0057;
  padding: 3rem;
  color: #fff;
  text-align: center;
}
header.oriental {
  background-color: #940505;
  color: #ffffff;
  padding: 2rem;
  text-align: center;
}

footer.gamer {
  background-color: #3b0057;
  height: 5rem;
  color: #fff;
}
footer.oriental {
  color: #ffffff;
  background-color: #940505;
  height: 5rem;
}

.fondoOriental-a {
  background-color: #940505;
  color: #ffffff;
  border-radius: 1em 1em 1em 1em;
}

.fondoOriental-b {
  background-color: #020202;
  color: #ffffff;
  border-radius: 1em 1em 1em 1em;
}

.fondoOriental-c {
  background-color: #e96375;
  color: rgba(0, 0, 0, 0.144);
  border-radius: 1em 1em 1em 1em;
}

.fondoCarga {
  background-color: #020202;
  color: #ffffff;
}

/*-----------------------Botones-------------------------------*/
button.oriental,
input[type=submit].oriental,
input[type=reset].oriental,
input[type=button].oriental {
  display: inline-block;
  height: 3rem;
  width: 5rem;
  color: #d4d4d4;
  -webkit-text-decoration: dotted;
          text-decoration: dotted;
  font-size: 1rem;
  box-sizing: border-box;
  border-radius: 1em 1em 1em 1em;
  border: 1px solid #940505;
  background-image: linear-gradient(to bottom, #940505, #020202);
}
button.oriental:hover,
input[type=submit].oriental:hover,
input[type=reset].oriental:hover,
input[type=button].oriental:hover {
  background-image: linear-gradient(to bottom, #e96375, #020202);
}
button.gamer,
input[type=submit].gamer,
input[type=reset].gamer,
input[type=button].gamer {
  display: inline-block;
  height: 3rem;
  width: 5rem;
  color: #d4d4d4;
  text-decoration: none;
  font-size: 1rem;
  box-sizing: border-box;
  border: 1px solid rgba(77, 80, 90, 0.719);
  box-shadow: 10px 10px 10px #000000;
  background-image: linear-gradient(to right, #000000, rgba(77, 80, 90, 0.719));
}
button.gamer:hover,
input[type=submit].gamer:hover,
input[type=reset].gamer:hover,
input[type=button].gamer:hover {
  background-image: linear-gradient(to right, #8016be8a, #000000);
}

/*-----------------------Tablas-------------------------------*/
table {
  width: 100%;
}
table.oriental {
  background: linear-gradient(to bottom, #940505, #020202);
  border-collapse: separate;
  border-spacing: 5px;
  color: #fff;
}
table.oriental td,
table.oriental th {
  padding: 0.1em;
  background: #fff;
  color: #000000;
  width: 25%;
}
table.gamer {
  border: 1px solid #999;
  text-align: left;
  margin: 0 0 1em 0;
  caption-side: top;
}
table.gamer td,
table.gamer th {
  padding: 0.1em;
  border-bottom: 1px solid #999;
  width: 25%;
}
table.gamer th {
  font-weight: bold;
}

/*-----------------------Imagen Responsive-------------------------------------*/
.imagenResponsive {
  height: auto;
  width: 100%;
}

.tamaño {
  height: 2rem;
  width: 2rem;
}

/*-----------------------Imagen Articulos-------------------------------------*/
article img .reportaje {
  float: left;
}

/*--------------------------------------FORMULARIOS----------------------------------*/
form label {
  display: block;
}
form.gamer input[type=submit],
form.gamer input[type=button] {
  background-color: #000000;
  color: #fff;
  font-family: serif;
  font-size: 1.2em;
  margin: auto;
  border-radius: 10px;
  padding: 16px;
  background-image: linear-gradient(to right, #000000, rgba(77, 80, 90, 0.719));
}
form.gamer input[type=submit]:hover,
form.gamer input[type=button]:hover {
  background-image: linear-gradient(to right, #8016be8a, #000000);
}
form.gamer input[type=submit].botVolver,
form.gamer input[type=button].botVolver {
  background-image: linear-gradient(to right, #3b0057, #8016be8a);
}
form.gamer input[type=submit].botVolver:hover,
form.gamer input[type=button].botVolver:hover {
  background-image: linear-gradient(to bottom, #8016be8a, #000000);
}
form.gamer input[type=email],
form.gamer input[type=number],
form.gamer input[type=search],
form.gamer input[type=text],
form.gamer input[type=tel],
form.gamer input[type=url],
form.gamer input[type=password],
form.gamer textarea,
form.gamer select {
  font-family: serif;
  font-size: 1.2em;
  margin: auto;
  border-radius: 10px;
  padding: 16px;
}
form.gamer input[type=checkbox],
form.gamer input[type=radio] {
  display: inline;
}
form.oriental input[type=submit],
form.oriental input[type=button] {
  background-color: #fff;
  color: #fff;
  font-family: monospace;
  font-size: 1.2em;
  margin: auto;
  padding: 16px;
  border-radius: 1em 1em 1em 1em;
  background-image: linear-gradient(to bottom, #020202, rgba(77, 80, 90, 0.719));
}
form.oriental input[type=submit]:hover,
form.oriental input[type=button]:hover {
  background-image: linear-gradient(to bottom, rgba(77, 80, 90, 0.719), #020202);
}
form.oriental input[type=submit].botVolver,
form.oriental input[type=button].botVolver {
  color: #ffffff;
  background-image: linear-gradient(to right, #940505, #ffffff);
}
form.oriental input[type=submit].botVolver:hover,
form.oriental input[type=button].botVolver:hover {
  background-image: linear-gradient(to bottom, #ffffff, #940505);
}
form.oriental input[type=email],
form.oriental input[type=number],
form.oriental input[type=search],
form.oriental input[type=text],
form.oriental input[type=tel],
form.oriental input[type=url],
form.oriental input[type=password],
form.oriental textarea,
form.oriental select {
  background-color: #fff;
  color: #000000;
  font-family: monospace;
  font-size: 1.2em;
  margin: auto;
  padding: 16px;
}
form.oriental input[type=checkbox],
form.oriental input[type=radio] {
  display: inline;
}

/*----------------------------------CENTRADO------------------------------------------*/
.centrado {
  text-align: center;
}

.centrandoElementos {
  align-items: center;
}

/*-------------------------------LINEA SEPARADORA---------------------------------------*/
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1;
}

/*-------------------------------ROW-CONTAINER---------------------------------------*/
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}

.separado {
  padding-top: 2rem;
}

.separadoPequeño {
  padding-top: 1rem;
}

.separadoPequeñoBot {
  padding-bottom: 1rem;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  box-sizing: border-box;
}

.ocultar {
  display: none;
}

.acierto {
  color: rgba(11, 209, 21, 0.719);
}

.fallo {
  color: rgba(209, 11, 11, 0.719);
}/*# sourceMappingURL=general.css.map */